<div class="container">
  <h2>The tastiest cocktails in town!</h2>
    <ul>
    <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
    <li> </li>
    <% end %>
  </ul>
  <%= link_to "Add new cocktail", new_cocktail_path %>
</div>


